<nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar">
  <div class="container">
    <div class="navbar-header">
      <a href="" class="navbar-brand">
        <img src="../assets/Images/moneyfly24.png">
      </a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>

      </button>

    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav" style="float:right;">
        <li>
          <a href="#Link1">Services</a>
        </li>
        <li>
          <a href="#Link2">Our Partners</a>
        </li>
        <li>
          <a href="#Link3">Company</a>
        </li>
        <li>
          <a href="Link4">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav> <!--end navbar-->

<div class="jumbotron whiteColor blackOpacity07">
  <div class="container text-center">
    <div class="video video-bg">
      <p>TRUN OVER A NEW LEAF</p>
      <h1>Build your own casino</h1>
      <hr class="greenLine" STYLE="width:129px">
      <video autoplay preload="auto" poster="moneyfly24.mp4" muted="" loop="loop" id="myVideo">
        <source src="../assets/Images/moneyfly24.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
      </video>

      <div class="FontUbunta" style="font-size:15px;">
        Join our professional team and make
        <br> &nbsp; &nbsp; &nbsp; your dream become true
      </div>
      <br>
      <button class="btn whiteColor FontUbunta greenBackColor">ORDER A BACK CALL</button>
    </div>
  </div>
</div>
<!--end jubetra-->

<section>
  <div class="page-headr FontUbunta">
    <div class="row">
      <div class="padding25 TextAlignCenter ">
        <p class="row justify-content-center " style="font-size:25px;">What is White Label Casino Software?</p>
        <hr class="greenLine" STYLE="width:75px">
        <p class="row justify-content-center "> White Label is an effective solution "All in One" for starting an online casino from the ground up.</p>
        <p class="row justify-content-center ">It is a widely used industry practice and a popular alternative to a standalone casino business.</p>
        <p class="row justify-content-center ">Key points that the White Label includes. </p>

        <div class=" row justify-content-center ">
          <img class="padding25" src="../assets/Images/platform.png">
          <img class="padding25" src="../assets/Images/licence.png">
          <img class="padding25" src="../assets/Images/bank-account.png">
          <img class="padding25" src="../assets/Images/company.png">
          <img class="padding25" src="../assets/Images/support.png">
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="row">
    <div class="col-lg-12 TurkizBackColor">
      <div class="whiteColor">
        <div class="d-flex justify-content-between">
          <div class="disp-in-blk whiteColor text2">Multifunctional platform
            <br>
            <hr class="greenLine" STYLE="width:129px"> MoneyFly platform is the complete solution for all your requirements.
            <br> It include a wide range of services: CRM, Player Handling, Payment Processing, Games Processing, Bonus System,
            Affiliate System.
            <br> The Platform is integrated with different Software Providers, and is a flexible platform.
            <br>
            <button class="btn whiteColor" style="background-color:#073a53; border:#ffff solid 2px;">GET MORE INFORMATION</button>

          </div>

          <div class="disp-in-blk" style="float:right">
            <img class="padding25 big-img" src="../assets/Images/monitor.png">
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</section>

<section>
  <div class="row">
    <div class="TextAlignCenter">
      <h1>Game Selection</h1>
      <hr class="greenLine" STYLE="width:75px"> Game selection In the platform are integrated very popular of gaming.
      <div class=" row justify-content-center ">
        <img class="padding25" src="../assets/Images/slots.png">
        <img class="padding25" src="../assets/Images/live casino.png">
        <img class="padding25" src="../assets/Images/poker.png">
        <img class="padding25" src="../assets/Images/table games.png">
      </div>
    </div>
  </div>
</section>

<section>
  <div class="row">
    <div class="col-lg-12">
      <div class="web-desingImg text2 ">
        <div class="web-des-bkg">
          <h1>Responsive Web-Design</h1>
          <hr class="greenLine" STYLE="width:129px"> We build adaptive design for your online casino.
          <br> Working on the usability of the interface and testing the site on every
          <br> desktop and mobile devices. Individual approach to each client.
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="row">
    <div class="col-lg-12">
      <div class="textAffiliate-text2">
        <div class="disp-in-blk" style="float:left;">
          <img class="padding25 big-img" src="../assets/Images/affiliate.png">
        </div>

        <div class="disp-in-blk" style="float:right;">
          <h1>Affiliate and Agent Platform</h1>
          <hr class="greenLine" STYLE="width:129px"> Affiliate and Agent System It’s the fastest way to earn money from traffic. Top priority is making sure software
          solutions are user-friendly and intuitive. Your business will grow as fast as you want to.
          <br>
          <br>
          <button class="nbtAff">GET MORE INFORMATION</button>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="box">
  <div class="padding25 TextAlignCenter whiteColor FontUbunta">
    <p class="row justify-content-center " style="font-size:25px;">Gaming Partners</p>
    <hr class="greenLine" STYLE="width:75px">
    <p class="row justify-content-center "> We’ve partnered with some of the most reliable gaming partners in the business,</p>
    <p class="row justify-content-center "> creating a platform with 1000+ games integrated.</p>
    <p class="row justify-content-center ">The result: A full range of services to entertain players worldwide. </p>
  </div>
  <div class="img-container TextAlignCenter">
    <img style="padding-top: 40px;padding-bottom: 40px;padding-right: 10px;padding-left: 10px;" src="./assets/Images/fugaso.png">
    <img style="padding-top: 32px;padding-bottom: 32px;padding-right: 10px;padding-left: 10px;" src="./assets/Images/evolution.png">
    <img style="padding-top: 3px;padding-bottom:  3px;padding-right:  25px;padding-left: 25px;" src="./assets/Images/tom_horn.png">
    <img style="padding-top: 30px;padding-bottom: 30px;padding-right: 10px;padding-left: 10px;" src="./assets/Images/betsoft.png">
    <img style="padding-top: 32px;padding-bottom: 32px;padding-right: 0px;padding-left:  0px;" src="./assets/Images/golden-race.png">
    <img style="padding-top: 46px;padding-bottom: 46px;padding-right: 0px;padding-left:  10px;" src="./assets/Images/gameart.png">
    <img style="padding-top: 10px;padding-bottom: 10px;padding-right: 27px;padding-left: 27px;" src="./assets/Images/lstreak.png">
    <img style="padding-top: 35px;padding-bottom: 35px;padding-right: 10px;padding-left: 10px;" src="./assets/Images/asiaGaming.png">
    <img style="padding-top: 28px;padding-bottom: 28px;padding-right: 10px;padding-left: 10px;" src="./assets/Images/boomg.png">
    <img style="padding-top: 40px;padding-bottom: 40px;padding-right: 10px;padding-left: 10px;" src="./assets/Images/habanero.png">
    <img style="padding-top: 42px;padding-bottom: 42px;padding-right: 10px;padding-left: 2+px;" src="./assets/Images/spinomenal.png">
    <img style="padding-top: 27px;padding-bottom: 27px;padding-right: 1px;padding-left:  12px;" src="./assets/Images/sagaming.png">
    <button class="btn whiteColor FontUbunta" style="background-color:#257363; border:#ffff solid 2px; align-elment:center;">MORE PARTNERS</button>
  </div>

</section>

<section class="box-2">
  <div class="padding25 TextAlignCenter FontUbunta">
    <p class="row justify-content-center " style="font-size:25px;">Payment Solution Partners</p>
    <hr class="greenLine" STYLE="width:75px">
    <p class="row justify-content-center "> Your visitors will enjoy more than 50 payment methods for the easy deposit, </p>
    <p class="row justify-content-center ">transfer or withdrawal of funds. All payment methods have been intuitively</p>
    <p class="row justify-content-center ">integrated within our payment processing platform. </p>
  </div>
  <div class="img-container TextAlignCenter">
    <img style="padding-top: 40px;padding-bottom: 40px;padding-right: 10px;padding-left: 10px;" src="./assets/Images/visa.png">
    <img style="padding-top: 32px;padding-bottom: 32px;padding-right: 10px;padding-left: 10px;" src="./assets/Images/Mastercard.png">
    <img style="padding-top: 3px;padding-bottom:  3px;padding-right:  25px;padding-left: 25px;" src="./assets/Images/neteller.png">
    <img style="padding-top: 30px;padding-bottom: 30px;padding-right: 10px;padding-left: 10px;" src="./assets/Images/paysafecard.png">
    <img style="padding-top: 32px;padding-bottom: 32px;padding-right: 0px;padding-left:  0px;" src="./assets/Images/Skrill.png">
    <img style="padding-top: 46px;padding-bottom: 46px;padding-right: 0px;padding-left:  10px;" src="./assets/Images/ecopayz.png">
    <br>
    <br>
    <button class="btn FontUbunta" style="background-color:#ffffff; border:rgb(8, 8, 8) solid 2px;">MORE PARTNERS</button>
  </div>

</section>

<section class="box-2" style="background-color:#726d6d67">
  <div class="padding25 TextAlignCenter FontUbunta">
    <h1>Our License</h1>
    <hr class="greenLine" STYLE="width:75px"> The MoneyFly team comprises forward-thinking individuals
    <br> with a wealth of experience in the iGaming industry. Within the jurisdictions where we obtain our licenses,
    <br> we remain devoted to the demanding regulatory frameworks.
    <br> MoneyFly has been awarded a license within a reputable
    <br> jurisdiction of Curacao, and we are excited
    <br> to pass the benefits onto our clients.
  </div>
  <div class="img-container TextAlignCenter container">
    <div class="img-text">
      <img style="padding-top: 40px;padding-bottom: 40px;padding-right: 10px;padding-left: 10px;" src="./assets/Images/curacao-flag.png">
    </div>
    <div class="img-text">
      <h1>Curacao Gambling Licenses</h1>
      With the Curacao license,
      <br> we’re able to give our clients the possibility to open
      <br> a business related to Gambling Software,
      <br> Remote Betting Events, Remote Casinos, and beyond.
      <br>
    </div>
    <br>
    <div class="img-text">
      <br>
      <img style="padding-top: 32px;padding-bottom: 32px;padding-right: 10px;padding-left: 10px;" src="./assets/Images/euro-flag.png">
    </div>
    <div class="img-text">
      <h1>European Zone</h1>
      With this license,
      <br> our clients can create businesses within the European zone,
      <br> helping the iGaming industry gain momentum.
    </div>
  </div>
</section>

<section style="background-color:#257363">
  <div class="row" style="margin-left: 200px;">
    <div class="TextAlignCenter whiteColor">
      <h2>How we work</h2>
      <hr class="greenLine" STYLE="width:75px">
      <div class="img-positon">
        <img class="padding25 box" src="../assets/Images/customer.png">
        <img class="padding25 box" src="../assets/Images/next.png">
        <br> Talk with customer
      </div>
      <div class="img-positon">
        <img class="padding25 box" src="../assets/Images/deal.png">
        <img class="padding25 box" src="../assets/Images/next.png">
        <br> Close a deal
      </div>
      <div class="img-positon">
        <img class="padding25 box" src="../assets/Images/start.png">
        <img class="padding25 box" src="../assets/Images/next.png">
        <br> Building site
      </div>
      <div class="img-positon">
        <img class="padding25 box" src="../assets/Images/deploy.png">
        <br> Deploy
      </div>
    </div>
  </div>
</section>

<section class="TurkizBackColor whiteColor ">
  <br>
  <br>
  <div class="row container-form ">
    <div class="whiteColor FontUbunta text-center">
      <h1>Contact Us</h1>
      <hr class="greenLine" STYLE="width:75px"> If you are interested in launching an online gaming site using our software,
      <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;please
      contact us.
    </div>
    <div class="col-md-8 ">
      <div class="cntct-bg">
        <div style="margin:15px;">
          <h4>ORDER A BACK CALL</h4>
          To order a back call, please complete the form and a member of our sales team will be in
          <br> touch shortly to discuss your interest.
          <br>
        </div>
        <br>
        <form class="form-group input-container">
          <span>
            <input type="text" placeholder="Name">
          </span>
          <span>
            <input type="text" placeholder="Email">
          </span>
          <br>
          <br>
          <br>
          <span>
            <input type="number" step="1" min="0" placeholder="Phone">
          </span>
          <span>
            <input type="text" placeholder="Skayp ID">
          </span>
          <br>
          <br>
          <br>
          <input class="btn whiteColor FontUbunta greenBackColor" style="text-align:center;width:30%;margin-left:60px;margin-bottom:3px;"
            type="submit" value="SEND">
        </form>
      </div>
    </div>
    <br>
    <div class="col-md-4 cntct-bg">
      <div>
        <i class="fa fa-map-marker padding15" aria-hidden="true"></i>Majestic Court, 5 St.Mary's Street, Mellieha,
        <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Malta
      </div>
      <div>
        <i class="fa fa-envelope padding15" aria-hidden="true"></i>sales@monyfly.com</div>
      <div>
        <i class="fa fa-phone padding15" aria-hidden="true"></i>894589489489</div>
      <div>
        <i class="fa fa-skype padding15" aria-hidden="true"></i>sales@monyfly.com</div>
    </div>
  </div>
</section>

<section style="background-color:#080707fd; color:rgb(219, 215, 209)">
  <div class="row">
    <div class="footer">
      <h3 class="green-text">SERVICES</h3>
      Multifunction platform
      <br> Game selection
      <br> Responsive web-design
      <br> Affiliate and Agent platfoem
    </div>
    <div class="footer">
      <h3 class="green-text">OUR PARTNERS</h3>
      Gameing Partners
      <br> Pyment solution Partners
    </div>
    <div class="footer">
      <h3 class="green-text">COMPANY</h3>
      About Us
      <br> Our Licence
      <br> How we work
      <br> Contact Us
    </div>
    <div class="footer">
      <h3 class="green-text">DEVISION OFF</h3>
      Play24Bet.com
      <br> Casino765.com
    </div>
    <div class="footer">
      <h3 class="green-text">SOCIAL NETWORK</h3>
      <i style="color:#4267B2;" class="fa fa-facebook-square" aria-hidden="true"></i>
      <i class="fa fa-linkedin-square" aria-hidden="true"></i>
      <i class="fa fa-twitter" aria-hidden="true"></i>
      <br>
    </div>

  </div>
  <div>
    <img class="padding25" src="../assets/Images/controlscan.png">
    <img class="padding25" src="../assets/Images/Payvision.png">
    <img class="padding25" src="../assets/Images/MFSA.png">
    <img class="padding25" src="../assets/Images/mga.png">
    <img class="padding25" src="../assets/Images/PCI.png">
    <img class="padding25" src="../assets/Images/18+.png">
  </div>

</section>
<footer style="background-color:#080707fd; color:rgb(219, 215, 209)">
  <p>&copy;2010-2018 Moneyflay. All rights reserved</p>
  <br>
  <br>
</footer>


